@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient-xy {
    background-size: 400% 400%;
    animation: gradient-xy 15s ease infinite;
  }

  .animate-gradient-spin {
    animation: gradient-spin 20s linear infinite;
  }

  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}

@keyframes gradient-xy {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

@keyframes gradient-spin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}